header {
    background-image: url('../img/header-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-color: #242424;
    text-align: center;
    color: white;
}
.parallax-window {
    background: url('../img/header-bg.jpg');
}
.navbar-custom {
    background-color: #990000;
    padding: 5px 0;
}